<!-- global navigation, used for all pages -->
<table width="100%" height="100%">
    <thead>
        <tr>
            <td class="td-head" width="10%">
                <img class="round-image" width="100px" height="100px" src="assets/geier.jpg" alt="fallback"/>
            </td>
            <td class="td-head" width="30%">
                <div class="dropdown">
                    <button class="dropbtn">Klettertag erfassen</button>
                <div class="dropdown-content">  
                    <a href="https://www.google.com">Google</a>
                    <a href="https://www.facebook.com">Facebook</a>
                    <a href="https://www.youtube.com">YouTube</a>
                </div>
              </div>
            </td>
            <td class="td-head" width="30%">
                <div class="dropdown">
                    <button class="dropbtn">Route erfassen</button>
                <div class="dropdown-content">  
                    <a href="https://www.google.com">Google</a>
                    <a href="https://www.facebook.com">Facebook</a>
                    <a href="https://www.youtube.com">YouTube</a>
                </div>
              </div>
            </td>
            <td class="td-head" width="30%">
                <div class="dropdown">
                    <button class="dropbtn">Routen anschauen & auswerten</button>
                <div class="dropdown-content">  
                    <a href="https://www.google.com">Google</a>
                    <a href="https://www.facebook.com">Facebook</a>
                    <a href="https://www.youtube.com">YouTube</a>
                </div>
              </div>
            </td>
        </tr>
    </thead>
</table>