<table width="100%" height="100%">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td width="20%">
                <img width="100px" height="100px" src="assets/geier.jpg" alt="fallback"/>
            </td>
            <td width="40%">
                <div class="dropdown">
                    <button class="dropbtn">Route erfassen</button>
                <div class="dropdown-content">  
                    <a href="https://www.google.com">Google</a>
                    <a href="https://www.facebook.com">Facebook</a>
                    <a href="https://www.youtube.com">YouTube</a>
                </div>
              </div>
              </td>
            <td width="40%">
                <div class="dropdown">
                    <button class="dropbtn">Routen anschauen & auswerten</button>
                <div class="dropdown-content">  
                    <a href="https://www.google.com">Google</a>
                    <a href="https://www.facebook.com">Facebook</a>
                    <a href="https://www.youtube.com">YouTube</a>
                </div>
              </div>
              </td>
        </tr>
        <tr>
            <!-- use the complete line-->
            <td colspan="3">
                <div class="withBackground">
                    <h1 class="bigText">Mannis Tickboard</h1>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>footer area</td>
        </tr>
    </tfoot>
</table>
