.bg-picture {
    background-image: url('../../assets/water_mill.jpg');
    min-width: 500px;
    min-height: 500px;
}

.bg-text {
    color: white;
    font-family: Tahoma;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 4px;
    word-spacing: 8px;
    padding-top: 20px;
}

.footer-text {
    background-color: white;
    color: rgb(86, 85, 85);
    font-family: Tahoma;
    font-size: 1.2rem;
}

.footer-line {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
}