<!-- Landingpage -->
<table class="tab" width="100%" height="100%">
    <thead>
        <!-- reusable part with the menu for all pages -->
        <!-- TODO should be refactored as include -->
        <tr>
            <td class="td-head" width="10%">
                <img class="round-image" width="100px" height="100px" src="assets/geier.jpg" alt="fallback"/>
            </td>
            <td class="td-head" width="30%">
                <div class="dropdown">
                    <button class="dropbtn">Klettertag erfassen</button>
                <div class="dropdown-content">  
                    <a href="https://www.google.com">Google</a>
                    <a href="https://www.facebook.com">Facebook</a>
                    <a href="https://www.youtube.com">YouTube</a>
                </div>
              </div>
            </td>
            <td class="td-head" width="30%">
                <div class="dropdown">
                    <button class="dropbtn">Route erfassen</button>
                <div class="dropdown-content">  
                    <a href="https://www.google.com">Google</a>
                    <a href="https://www.facebook.com">Facebook</a>
                    <a href="https://www.youtube.com">YouTube</a>
                </div>
              </div>
            </td>
            <td class="td-head" width="30%">
                <div class="dropdown">
                    <button class="dropbtn">Routen anschauen & auswerten</button>
                <div class="dropdown-content">  
                    <a href="https://www.google.com">Google</a>
                    <a href="https://www.facebook.com">Facebook</a>
                    <a href="https://www.youtube.com">YouTube</a>
                </div>
              </div>
            </td>
        </tr>
    </thead>
    <tbody>
        <!-- Body area as eye catcher uses the whole space -->
        <tr>
            <td colspan="4">
                <div class="bg-big-picture">
                    <h1 class="big-text">Mannis Tickboard</h1>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <!-- Footer area with important explanations regarding the features -->
        <tr class="footer-text">
            <td class="footer-line" width="22%">Was kann Mannis Tickboard?</td>
            <td class="footer-line" width="26%">
                <p>Detailliertes Erfassen eines Klettertages</p>
                <ul type="circle">
                    <li>keine Mehrfacheingaben</li>
                    <li>Datum, Fels, Wetter bleiben gleich</li>
                    <li>erst ein Felswechsel benötigt eine Anpassung</li>
                </ul>
            </td>
            <td class="footer-line" width="26%">
                <p>Detailliertes Erfassen einer Route</p>
                <ul type="circle">
                    <li>Name, Länge, Schönheit, Schwierigkeit</li>
                    <li>Mehrseillängentouren, Charakter</li>
                </ul>
            </td>
            <td class="footer-line" width="26%">
                <p>Auflisten und Auswerten der Touren</p>
                <ul type="circle">
                    <li>Ausgeben seines Tourentagebuchs</li>
                    <li>Auswertungen nach Datum, Schwierigkeit, Anzahl Seillängen je Zeitraum, ...</li>
                </ul>
            </td>
        </tr>
    </tfoot>
</table>
