<!-- Landingpage -->
<table width="100%" height="100%">
    <tbody>
        <!-- Body area as eye catcher uses the whole space -->
        <tr>
            <td colspan="4">
                <div class="bg-picture">
                    <h1 class="bg-text">Mannis Tickboard</h1>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <!-- Footer area with important explanations regarding the features -->
        <tr class="footer-text">
            <td class="footer-line" width="22%">Was kann Mannis Tickboard?</td>
            <td class="footer-line" width="26%">
                <p>Detailliertes Erfassen eines Klettertages</p>
                <ul type="circle">
                    <li>keine Mehrfacheingaben</li>
                    <li>Datum, Fels, Wetter bleiben gleich</li>
                    <li>erst ein Felswechsel benötigt eine Anpassung</li>
                </ul>
            </td>
            <td class="footer-line" width="26%">
                <p>Detailliertes Erfassen einer Route</p>
                <ul type="circle">
                    <li>Name, Länge, Schönheit, Schwierigkeit</li>
                    <li>Mehrseillängentouren, Charakter</li>
                </ul>
            </td>
            <td class="footer-line" width="26%">
                <p>Auflisten und Auswerten der Touren</p>
                <ul type="circle">
                    <li>Ausgeben seines Tourentagebuchs</li>
                    <li>Auswertungen nach Datum, Schwierigkeit, Anzahl Seillängen je Zeitraum, ...</li>
                </ul>
            </td>
        </tr>
    </tfoot>
</table>
